@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Overpass", serif;
}

body {
    height: 100vh;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;  
    background-color: #F5F5DC; 
}
h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
}
h3{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
#paragrafer {
    position: relative;
    top: 2px;

}
.task , .painel-tasks{
    width: 90%;
    margin: 0 auto;
    border: 3px solid #8B4513;
    border-radius: 15px;border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}
.painel-tasks input {
    border: none;
}


.task img{
    width: 20px;
    cursor:pointer;
}


.medieval-border {
    border: 10px solid #8B4513; /* cor marrom imitando madeira */
    border-radius: 15px; /* bordas arredondadas para um efeito mais suave */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* adiciona sombra */
    background-color: #F5F5DC; /* cor de fundo bege clara */
}

@media (max-width: 450px) {
    .painel-tasks {
      text-align: center;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
    }
  
    .painel-tasks input {
      margin: 0.6rem auto;
      width: 78% !important;
      padding: 0.4rem 0;
    }
    .painel-tasks button {
        margin: 0 auto;
        width: 80%;
        padding: 0.3rem 0;
    }
  }
  

@media (min-width: 601px) and (max-width: 1024px) {
    main {
        width: 80%;
        margin: 0 auto    
    }
  }

  #in-task {
    width: 200px;

  }
  
  /* Para dispositivos grandes (desktops) */
  @media (min-width: 1025px) {
    main {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        
    }
    #in-task {
        width: 400px;
    
      }
  }
  